<% include partials/_header %>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-7">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <td>#</td>
                    <td>Name</td>
                    <td>Type</td>
                    <td>Description</td>
                    <td>Actions</td>
                </tr>
                </thead>
                <tbody>
                <% if (data) { %>
                    <% for(var i = 0; i < data.length; i++) { %>
                        <tr>
                            <td><%= (i + 1) %></td>
                            <td><%= data[i].name %></td>
                            <td><%= data[i].type %></td>
                            <td><%= data[i].description %></td>
                            <td>
                                <a href="/update/<%= data[i].id %>" class="btn btn-info">Edit</a>
                                <a href="/delete/<%= data[i].id %>" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    <% } %>
                <% } %>
                </tbody>
            </table>
        </div>
        <div class="col-md-5">
            <div class="card-body">

                <form action="/add" method="POST">
                    <div class="form-group">
                        <input type="text" name="name" placeholder="Name" class="form-control" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" name="type" placeholder="Type" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="description" placeholder="Description" class="form-control">
                    </div>

                    <button type="submit" class="btn btn-primary">
                        save event
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<% include partials/_footer %>
